{% extends "post/base.html" %}
{% load static %}

{% block title %}Friends List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">My Friends</h1>
    
    <div class="row">
        <div class="col-md-8">
            {% if friends %}
                <div class="list-group">
                    {% for friend in friends %}
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="{{ friend.user.profile_picture }}" alt="{{ friend.user.username }}" class="rounded-circle" width="50" height="50">
                                <div class="m-2">
                                    <a href="{% url 'profile' friend.user.username %}" class="text-decoration-none text-dark"><h5 class="mb-0">{{ friend.user.full_name }}</h5></a>
                                    <small class="text-muted">{{ friend.user.username }}</small>
                                </div>
                            </div>
                            <div class="friend-action" data-user-id="{{ friend.user.id }}">
                                <button class="btn btn-danger btn-sm friend-button" onclick="unfriend({{ friend.id }})">Unfriend</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>You don't have any friends yet. Start by sending friend requests!</p>
            {% endif %}
        </div>
        
    </div>
</div>


{% endblock %}
