<div
  class="modal fade"
  id="friendRequestModal"
  tabindex="-1"
  aria-labelledby="friendRequestModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="friendRequestModalLabel">
          Friend Requests
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="friendRequestList">
        <p id="noRequestsMessage">No pending friend requests.</p>
      </div>
    </div>
  </div>
</div>
