{% extends 'post/base.html' %} 
{% block title %} {{ targetUser.username }}'s Profile {%endblock %} 
{% block content %}

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #000; height: 200px"
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img
                src="{{targetUser.profile_picture.url}}" alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1; height: 150px;object-fit: cover; object-position: 100%;"
              />
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5>
                {{ targetUser.get_full_name }} 
                {% if user == targetUser %}
                  <a href="{%url 'edit' %}" class="btn btn-primary">Edit</a>
                {% else %}
                  {% include 'friend/friend_button.html' %}
                {% endif %}
              </h5>
              <p>New York</p>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-3 text-body">
              {% if targetUser.date_of_birth %}
              <p class="lead fw-normal mb-1">Date of Birth: {{targetUser.date_of_birth}}</p>
              {% endif %}
              {% if targetUser.bio %} 
              <p class="lead fw-normal mb-1">Bio</p>
              <div class="p-4 bg-body-tertiary">
                <p class="font-italic mb-1">{{ targetUser.bio }}</p>
              </div>
                {% endif %}
              
            </div>
            <div
              class="d-flex justify-content-between align-items-center mb-4 text-body"
            >
              <p class="lead fw-normal mb-0">Recent post</p>
            </div>
            {% include 'post/post_template.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
