<script>
  $(document).ready(function () {
    function updateFriendRequestNotification() {
      $.ajax({
        url: '{% url "request-list" %}',
        type: "GET",
        dataType: "json",
        success: function (data) {
          const badge = $("#friendRequestBadge");
          const count = $("#friendRequestCount");
          const list = $("#friendRequestList");
          const noRequestsMessage = $("#noRequestsMessage");

          if (data.friend_requests.length > 0) {
            badge.removeClass("d-none");
            count.text(data.friend_requests.length);
            noRequestsMessage.addClass("d-none");
            list.empty();
            $.each(data.friend_requests, function (index, frRequest) {
              const div = $("<div>").addClass(
                "d-flex justify-content-between align-items-center mb-2"
              );
              div.html(`           
                        <span>
                            <img
                              src="${frRequest.user.profile_picture}"
                              alt="${frRequest.user.username}'s profile picture"
                              class="rounded-circle me-2"
                              style="width: 40px; height: 40px"
                            />
                            ${frRequest.user.username}</span>
                            <div>
                                <button class="btn btn-success btn-sm accept-request" data-id="${frRequest.id}">Accept</button>
                                <button class="btn btn-danger btn-sm reject-request" data-id="${frRequest.id}">Reject</button>
                            </div>
                        `);
              list.append(div);
            });

            addFriendRequestListeners();
          } else {
            badge.addClass("d-none");
            list.html("<p>No pending friend requests.</p>");
          }
        },
        error: function (xhr, status, error) {
          console.error("Error fetching friend requests:", error);
        },
      });
    }

    function addFriendRequestListeners() {
      $(".accept-request, .reject-request")
        .off("click")
        .on("click", function () {
          const action = $(this).hasClass("accept-request")
            ? "accept"
            : "reject";
          const requestId = $(this).data("id");
          handleFriendRequest(action, requestId);
        });
    }

    function handleFriendRequest(action, requestId) {
      let url;
      if (action === "accept") {
        url = "{% url 'accept-request' 0 %}".replace("0", requestId);
      } else if (action === "reject") {
        url = "{% url 'reject-request' 0 %}".replace("0", requestId);
      }
      $.ajax({
        url: url,
        type: "POST",
        dataType: "json",
        success: function (data) {
          if (data.status === "success") {
            updateFriendRequestNotification();
          }
        },
        error: function (xhr, status, error) {
          console.error(`Error ${action}ing friend request:`, error);
        },
      });
    }

    // Update notification in interval
    setInterval(updateFriendRequestNotification, 60000);

    updateFriendRequestNotification();
  });
</script>
